@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');


/* ----- VARIABLES ----- */
/* :root {
  --body-color: rgb(250, 250, 250);
  --color-white: rgb(255, 255, 255);

  --text-color-second: rgb(68, 68, 68);
  --text-color-third: rgb(30, 159, 171);

  --first-color: rgb(110, 87, 224);
  --first-color-hover: rgb(40, 91, 212);

  --second-color: rgb(110, 87, 224);
  --third-color: rgb(192, 166, 49);
  --first-shadow-color: rgba(0, 0, 0, 0.1);

  --shadow: 0 2px 2px rgb(0 0 0 /0.5);
  --shadowP: 0 1px 1px rgb(250 255 255/ 0.8);
} */


body {
  /* font-family: 'Manrope' !important; */
  font-family: 'Segoe UI', sans-serif !important;
  scroll-behavior: smooth !important;
   /* background: var(--body-color) !important; */
   /* background-image: url("../images/3040791.jpg"); */
   /* background: radial-gradient(circle, rgb(252, 249, 250) 30%, rgb(144, 187, 242) 100%)!important; */
   /* background: rgb(221, 55, 9) !important; */
   /* background: #000638; */
   
   margin: 0;
   padding: 0;
   background-color: #000638;
   -webkit-font-smoothing: antilased;
   -moz-osx-font-smoothing: grayscale;
   line-height: 1.6;
   letter-spacing: 0.5;
   /* font-size:medium !important; */
   
  
   
 }
 .home {
   margin-top: 20px;
 }

/* .body .font {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-size: 1.2em;
  font-weight: 300;

  background: linear-gradient(to right, #ffffff, #cccccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white-font:hover {
  color: #ffdd57;
  transition: color 0.3s ease-in-out;
} */






/* .pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.custom-tooltip {
  background-color: rgba(0, 0, 0, 0.75) !important;
  color: white !important;
  padding: 5px;
  border-radius: 50px;
} */




/* Tambahkan ini ke file CSS Anda */
.list-group-item .dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  border-radius: 5px;
}

.list-group-item .dropdown-content.show {
  max-height: 850px; /* Sesuaikan dengan tinggi maksimum konten dropdown Anda */
  background-color: rgba(0,0,0,0.4) !important;
  backdrop-filter: blur(5px) !;
}

#wrapper {
  overflow-x: hidden;
  
}

.sidebar {
  width: 240px;
  transition: width 0.3s ease; /* Transisi halus saat ukuran berubah */
  color: white !important;
}



.side-dash {
  background-color: rgba(190, 184, 184, 0.1);
  border-radius: 5px;
  margin-bottom: 5px;
}


.side-report {
  background-color: rgba(190, 184, 184, 0.1);
  border-radius: 5px;
  margin-bottom: 5px;
}
.side-logout {
  background-color: rgba(190, 184, 184, 0.1);
  border-radius: 5px;
  margin-bottom: 5px;
  
}

.list-group-item {
color: white; /* Warna teks putih untuk item */
 background-color: rgba(114, 107, 107, 0.3);
}

.dropdown-content {
background-color: rgba(0, 0, 0, 0.7); /* Latar belakang dropdown dengan opacity */
border-radius: 5px;
}

.custom-icon {
color: white; /* Warna ikon putih */
}

.transparent-background {
background-color: transparent; /* Latar belakang transparan untuk item list */
}

.sidebar.hidden {
transform: translateX(-100%);
}




#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
  /* background-color: rgba(152, 147, 147, 0.4) !important; */
  backdrop-filter: blur(5px) !;

}
.transparent-background {
  background: transparent !important;
  color: #ffffff;
}


.custom-radio {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  
  
}


.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio .form-check-label {
  margin-bottom: 0;
  font-weight:lighter;
  color: white;
}



.custom-radio input:checked ~ .form-check-label {
  color: #565657;
}

.custom-radio  :hover {
  color: #97979b !important;
}





#sidebar-wrapper .sidebar-heading {
  margin-top:5px;
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  background-color: rgba(131, 163, 238, 0.4) !important;
  backdrop-filter: blur(5px) !;
  color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 5px;

}
.custom-icon {
  color: #f6f6f8;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  
  
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
  
}

.list-group-item:hover {
  
  /* color: #0379cd !important;  */
  color: #97979b !important;
  
}

.list-group-item.active:hover {
  background-color: #504d4d !important; 
  
}

.form-check {
  margin-left: 10px; /* Atur jarak horizontal antara tombol radio dan label */
  margin-right: 10px; /* Atur jarak horizontal antara tombol radio dan label */
  margin-bottom: 10px;
  margin-top: 10px;
}

/* CSS untuk tombol toggle */
.toggle-btn {
  background-color: #ffffff; /* Warna latar belakang default */
  border: 1px solid #ccc; /* Batas default */
  color: #333; /* Warna teks default */
}

.toggle-btn:hover {
  background-color: #f0f0f0; /* Warna latar belakang saat di-hover */
  border-color: #999; /* Warna batas saat di-hover */
  color: #000; /* Warna teks saat di-hover */
}

.toggle-btn:focus {
  background-color: #e0e0e0; /* Warna latar belakang saat fokus */
  border-color: #666; /* Warna batas saat fokus */
  color: #000; /* Warna teks saat fokus */
}


.card-header{
  color: #ffffff;
 
}




.card-home {
 
  margin: auto;
  max-width: 1200px; /* Sesuaikan dengan kebutuhan */
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 0px;
  
}

.card-home h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: white;
  
}
.card-border{
  background-color: transparent;
}

.card-excel {
  
  width: 50px; /* Sesuaikan ukuran sesuai kebutuhan */
  height: 50px; /* Sesuaikan ukuran sesuai kebutuhan */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px; /* Opsional, untuk sudut melengkung */
  transition: background-color 0.3s, color 0.3s; /* Transisi yang halus saat hover */
  background-color: #ffffff;
  color: #013412;
}

.card-excel:hover {
  color: #ffffff;
  background-color: #013412;
}

.icon {
  font-size: 10px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
}

/* .dash .card{
  background-color: rgba(114, 107, 107, 0.3);
  
}

.dash .card .text-value{
  font-size:20px;
  color: #ffffff !important;
}

.dash .card .text-muted{
  font-size:16px;
  color: #ffffff !important;
} */

.card-excel{
  margin-bottom: 10px;
}
.card-home .card-body {
 color: white;
 background-color: #000638;
 border-radius: 10px;

}

.card-home .card-body .row {
  width: 100%;
  background-color: #c4c0c0;
  border-radius: 10px;
 
 
}

.card-home .card-body .card {
  transition: transform 0.2s;
 
}

.card-home .card-body .card:hover {
  transform: scale(1.05);
}

.card-home .bg-primary {
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-home .bg-primary .fa {
  color: white;
}

.card-home .mfe-3 {
  margin-right: 15px;
}

.card-home .custom-storage-style {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff !important;
  font-size: 0.875rem;
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  margin: 50px auto;
  width: 40px;
  height: 40px;
  position: relative; /* Agar ikon bisa diatur posisinya relatif terhadap spinner */
}

.spinner-border {
  width: 100%;
  height: 100%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #efeff3;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

.spinner .icon {
  position: absolute; /* Posisi absolut untuk mengatur ikon di tengah */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Menyelaraskan ikon di tengah */
  width: 20px; /* Ukuran ikon, sesuaikan sesuai kebutuhan */
  height: 20px; /* Ukuran ikon, sesuaikan sesuai kebutuhan */
  pointer-events: none; /* Agar ikon tidak terpengaruh oleh animasi */
}

/* Custom CSS for Spinner */
.spinner-custom {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Spinner container */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}





/* Filename: App.css */
/* dcv1.2 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.nav {
  background: #2D2D2D;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-icon {
  margin-left: 2rem;
  font-size: 2rem;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-nav {
  background: #2D2D2D;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 350ms;
  z-index: 10;
}

.sidebar-nav.active {
  left: 0;
}

.sidebar-wrap {
  width: 100%;
}

.title {
  text-align: center;
  margin-left: 200px;
  color: green;
}

.sidebar-link {
  display: flex;
  color: #e1e9fc;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
  height: 60px;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
}

.sidebar-link:hover {
  background: #252831;
  border-left: 4px solid rgb(67, 147, 6);
  cursor: pointer;
}

.sidebar-label {
  margin-left: 16px;
}

.dropdown-link {
  background: #252831;
  height: 50px;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: lighter;
}

.dropdown-link:hover {
  background: #252831;
  cursor: pointer;
}

.tes {
  background-color: #171717;
  height: 100vh;
}




/* ================= */

/* Chart.css */

/* ChartGrpoLastMonth.css */
.custom-label {
  fill: #135ed5; /* Set the font color here */
  font-size: 16px; /* Set the font size here */
  /* font-family: Arial, sans-serif; */
  font-weight: bold; /* Optional: Set the font weight here */
}


/* ChartInboundPo.css */
.chart-title-po {
  font-size: 16px;
  text-align:left;
  margin-bottom: 0px;
  color: #ffffff; /* Title font color */
  margin-top: 1px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.total-value {
  color: #fbfcfc;
  margin-left: 10px;
  margin-bottom: 5px;
}

.chart-title {
  font-size: 20px;
  text-align:left;
  margin-bottom: 0px;
  color: #ffffff; /* Title font color */
  margin-top: 1px;
}
.chart-top-title {
  font-size: 5px;
  text-align:center;
  margin-bottom: 0px;
  color: #ffffff; /* Title font color */
  margin-top: 15px;
}


.chart-container-store {
 
  width: 100%;
  height: 260px;
  background-color: #01062c !important;
  padding: 10px;
  border-radius: 10px;
}

.chart-container-chart {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: #01062c !important;
  padding: 20px;
  border-radius: 10px;
}

.chart-no-data {
  font-size: 18px;
  padding: 50px;
  color: #ffffff; /* No data font color */
  text-align: center;
}

.chart-tooltip {
  font-size: 12px;
  background-color: #e1d8d8; /* Tooltip background color */
  color: #fff; /* Tooltip font color */
}

.chart-x-axis .recharts-cartesian-axis-tick-value, 
.chart-y-axis .recharts-cartesian-axis-tick-value {
  font-size: 16px;
  fill: #ffffff; /* Axis font color */
}

.chart-label-list text {
  font-size: 12px;
  fill: #ffffff; /* Label list font color */
}

.chart-bar {
  cursor: pointer;
}
/* .card-total{
  color:#fff;
} */

/* Gradient colors for bars */
.chart-bar-late {
  fill: url(#colorTotalqtylate);
}

.chart-bar-ontime {
  fill: url(#colorTotalqtyontime);
}

.chart-bar-item-late {
  fill: url(#colorTotalitemlate);
}

.chart-bar-item-ontime {
  fill: url(#colorTotalitemontime);
}



.chart-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.5px;
  margin-top: 0px;
}

.containers {
  margin-top: 0.5rem;   /* Jarak atas container */
  margin-bottom: 0.5rem; /* Jarak bawah container */
}

/* Jika Anda ingin menambah jarak hanya di antara containers */
.containers + .containers {
  margin-top: 0.5rem; /* Jarak antar containers */
}

.card-title {
  
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  height: 55px;
}



.card-total {
  
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  height: 55px;
}
.card-total-bawah {
  
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  height: 55px;
}

.total-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  gap: 10px; /* Add space between the icons if needed */
}

.square-icon {
  width: 70px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.6em;
  padding: 2px;
  border-radius: 4px;
}

.square-icon.blue {
  background-color: rgb(18, 135, 203);
}

.square-icon.orange {
  background-color: orange;
}

.square-icon.green {
  background-color: rgb(44, 110, 3);
}

/*///////////////////////////////////////////////////////////////////

.card-total {
  border: 0;
  overflow: hidden;
  border-radius: 5px;
  
}

.total-link {
  text-decoration: none;
  color: rgb(113, 115, 118);
  width: 100%;
  justify-content: center;
}

.total-text {
  text-transform: uppercase;
  font-weight: bold;
}



.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}




.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item {
  margin: 0 0.25rem;
}



.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  transition: all 0.3s;
}

.page-link:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* styles.css */

  
  
  
 
.title-dash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chart-title {
  margin: 0;
  
}


.custom-label {
  fill: #edebe9;
  font-size: 14px; 
}

.data-table {
  width: 100%; 
}


.table-responsive {
  max-height: 500px; 
  overflow-y: auto;
  position: relative;
}

/* styles.css */
.data-table-container {
  overflow-x: auto; /* Memungkinkan menggulir jika konten lebih lebar dari tabel */
}



.permissions-cell {
  word-wrap: break-word; /* Memungkinkan kata untuk terputus jika terlalu panjang */
  white-space: normal; /* Memungkinkan konten untuk melanjutkan ke baris baru */
}


.permissions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Menyesuaikan kolom dengan lebar minimum 150px */
  gap: 1.5px; /* Jarak antar checkbox */
}



.spaced-paragraph {
  margin-top: 0.5px; 
  margin-bottom: 0.5px; 
}
.footer{
  margin-top: 100px;
  font-weight: lighter;
}



.chart-card {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  
  
  font-size: 15px;
  text-align: center;
 
  background-color: rgba(175, 175, 178, 0.3) !important;
  backdrop-filter: blur(4px);
  color: #181717 !important;
  padding: 5px;
 
  
}








.mt-100 {
  margin-top: 100px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-150 {
  margin-top: 150px;
}
.mb-5 {
  margin-top: 60px;
}
.mb-4 {
  margin-top: 10px;
}

.mt-80 {
  margin-top: 70px;
}


#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

.card-body .content {
  font-size: 35px;
  
}


.pointer-cursor {
  cursor: pointer;
}




.full-body-container {
  padding: 20px;
}

.container-fullscreen {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: #000638;
  box-sizing: border-box;
  
}

.chart-background {
  background-color: #151617;
  padding: 20px;
  border-radius: 8px;
}

.chart-top-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.alert {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.card-dashboard {
  margin-bottom: 200px;
   
}
.card{
  
  background-color: rgba(114, 107, 107, 0.3);
  margin-top: 1px;
  margin-bottom: 0.5px;
}



.card-header {
  padding: 1rem;
 
 
}

.title-dash {
  text-align: center;
  margin-bottom: 1rem;
}

.chart-title-dash {
  margin: 0;
  font-size: 1.5rem;
}

.container-fullscreen {
  padding: 1rem;
}

.chart-top-title {
  margin-bottom: 2rem;
}

.card-dashboard {
  margin-bottom: 2rem;
  border-top-width: 4px;
}


/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
} */

.header {
  text-align: center;
  margin-bottom: 1rem;
}

.chart-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-data {
  text-align: center;
  padding: 5rem;
}

.legend {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1px;
  font-size: 14px;
 
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}



.legend-store {
  display: flex;
  justify-content:left;
  gap: 1rem;
  margin-top: 1px;
  font-size: 10px;
 
}

.legend-item-store {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.square-icon {
  width: 20px;
  height: 20px;
}

.square-icon.ontime {
  background-color: #32ADE6;
}

.square-icon.late {
  background-color: #FF4B3D;
}

.square-icon.today {
  background-color: #32ADE6;
}

.square-icon.H-1 {
  background-color: #00FFA3;
}



/* ////////////////////////////////////////////////////////////////////////// */





/* New styles for card-total */
.card-total {
  font-size: 20px;
  color: #ffffff; /* Change font color */
 
  padding: 10px;
  border-radius: 5px;
}

.card-total .total-text {
  color: #fff; /* Change the font color of the total text */
  
}

.card-total a.total-link {
  text-decoration: none;
  color: inherit; /* Inherit the font color */
}

.card-total a.total-link:hover {
  text-decoration: underline; /* Optional: underline on hover */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

.container {
  margin-top: 0; /* Remove top margin */
  margin-bottom: 5rem;
  padding: 0;
}

.full-body-container {
  min-height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  /* font-family: 'Manrope' !important; */
  background-color: #000638; 
  margin-bottom: 0px;
  margin-top: 0px !important;
}



.chart-background {
  margin-top: 0px;
  background-color: #314472; /* Light grey background color */
  padding: 20px; /* Add some padding */
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow */
    width: 100%;
    max-width: 1900px; 
    
}

.chart-background .card {
  background-color: #313132; /* White background for the card */
}

.chart-background .card-body {
   background-color: #474646;  
  border-radius: 20px; /* Match the border radius */
  padding: 20px; /* Add padding */
}


.custom-background {
  margin-top: 0px;

  background-color: rgba(114, 107, 107, 0.3); /*transfaran*/
  padding: 20px; /* Add some padding */
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow */
    width: 100%;
    max-width: 1900px; 
    border-radius: 20px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 20px; */
}

.title {
  color: white;
  font-size: 25px;
  display: inline-block;
  margin: 0;
}

/* You can add more styles to customize further */
.custom-background .card {
  background-color: #313132; /* White background for the card */
}

.custom-background .card-body {
   background-color: #474646;  
  border-radius: 20px; /* Match the border radius */
  padding: 20px; /* Add padding */

  /* backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
  border :2 px solid rgba(255, 255, 255, 0.18); */
}

.datetime-container {
  display: flex;
  flex-direction: column; /* Stack date and time vertically */
  align-items: flex-end; /* Align to the right */
  font-size: larger;
  

}

.current-date, .current-time {
  /* background-color: #343a40; */
  color: #ffffff; 
  /* padding: 10px 20px; 
  border-radius: 10px;  */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin: 0.5px 0; /* Space between date and time */
}

/* .scrollable-table-container {
  max-height: 500px;
  overflow-y: auto; 
} */


/* tabs */




.tabs {
  width: 100%;
   position: relative;
}

.tab-pane {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tab-pane.active {
  display: block;
  opacity: 1;
}

.tab-buttons {
  display: flex;
  flex-wrap: wrap;
  border-bottom: none;
  overflow: hidden;
}

.tab-button {
  flex: 1;
  padding: 10px;
  background-color: rgba(114, 107, 107, 0.3);
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  border: none;
  position: relative;
  z-index: 1;
  border-radius: 5px 5px 0 0; 
}

.tab-button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 5px;
  background-color: transparent;
  border-radius: 0 0 5px 5px; /* Membuat sudut bawah melengkung */
  z-index: -1;
}

.tab-button.active {
  background-color: #fff;
  color: #111112;
  border-radius: 5px 5px 0 0; /* Membuat sudut atas melengkung */
  border: 1px solid #ddd;
  border-bottom: none;
}

.tab-button.active::before {
  background-color: #fff; /* Warna background tab yang aktif */
}

.tab-button:hover {
  color: #97979b;
}

.tab-content {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px; /* Membuat sudut bawah kiri dan kanan melengkung */
  border-top: none;
  min-height: 200px; /* Sesuaikan dengan kebutuhan */
}

/* generate */
/* Container styling */
.form-container {
  margin: 20px;
  padding: 20px;
  background-color: rgba(114, 107, 107, 0.3); /*transfaran*/
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  box-sizing: border-box;
  
}

/* Form layout styling */
.form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Flexbox layout for form fields */
.form-row {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 15px;
 
}

/* Styling for each form group */
.form-group {
  flex: 1;
  min-width: 200px; /* Ensures that each input field is not too narrow */
  display: flex;
  flex-direction: column; /* Keeps label above input */
}

/* Label styling */
.form-group label {
  font-weight:lighter;
  color: white;
  margin-bottom: 8px; /* Adds space between label and input */
}

/* Styling for input fields */
.form-input {
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  width: 100%; /* Ensures input fields take full width of their container */
}

.form-input-req {
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
 
}

/* Custom styling for DatePicker */
.date-picker-input {
  padding: 12px 15px;
  font-size: 16px;
}

/* Styling for the submit button */
.submit-button {
  padding: 10px 20px;
  background-color: #3B71CA;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  align-self: flex-start; /* Aligns the button to the start of the form container */
}

.submit-button:hover {
  background-color: #0056b3;
}



.container-login .card-body-login {
  color: #ffffff !important;
}
.text-center {
  color: #ffffff !important;
}


.container-login {
  padding: 20px;
}

.card-body-login {
  padding: 1.5rem;
}

/* modal */
.modal-content {
  background-color: #101225;
  color: white;
}

/* .table {
  background-color: #000638; 
} */

/* .form-input-req {
  background-color: #e9ecef; 
} */

.table {
  background-color: #ffffff; /* Warna latar belakang tabel */
  color: #333333; /* Warna teks tabel */
  border: 1px solid #dee2e6; /* Warna border tabel */
}

.table th {
  /* background-color: #101225; */
  /* background-color: #151617; */
  background-color: #000638;
  color: #ffffff; /* Warna teks header tabel */
  text-align: center; /* Teks di tengah pada header */
  padding: 10px; /* Padding pada header */
}

.table td {
  padding: 8px; /* Padding pada sel tabel */
  vertical-align: middle; /* Teks berada di tengah secara vertikal */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa; /* Warna latar belakang untuk baris ganjil */
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1; /* Warna latar belakang saat baris di-hover */
}

.form-input-req {
 
  padding: 5px; /* Padding dalam input */
  border: 1px solid #ced4da; /* Border input */
  border-radius: 4px; /* Sudut border */
}

.button-save {
  padding: 5px 10px; /* Padding tombol */
  background-color: #28a745; /* Warna latar belakang tombol Save */
  color: #ffffff; /* Warna teks tombol Save */
  border: none; /* Hilangkan border */
  border-radius: 4px; /* Sudut border */
  cursor: pointer; /* Ubah kursor saat hover */
}

.button-save:hover {
  background-color: #218838; /* Warna saat tombol di-hover */
}


body {
  background-color: #000638;
  /* color: white; */
}

.navbar, .dropdown-menu {
  /* Background gradient with transparency */
  background: linear-gradient(135deg, rgba(1, 12, 61, 0.8), rgba(1, 12, 61, 0.6)) !important;
  
  /* Apply a blur effect */
  backdrop-filter: blur(10px);
  
  /* Add a border with subtle transparency */
  /* border: 1px solid rgba(255, 255, 255, 0.3); */

  /* Add rounded corners for a softer look */
  /* border-radius: 10px; */

  /* Apply a subtle box-shadow for depth */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);

  /* Smooth transition for hover effects */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar:hover, .dropdown-menu:hover {
  /* Slightly lighten the background on hover */
  background: linear-gradient(135deg, rgba(1, 12, 61, 0.9), rgba(1, 12, 61, 0.7)) !important;
  
  /* Increase the box-shadow for a pop-out effect */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Optional: Style the dropdown items */
.dropdown-item {
  color: white !important;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 5px;
}


.nav-link, .dropdown-item {
  color: white !important;
}

.dropdown-item:hover {
  background-color: #1a2a4f;
}

.container-fluid.content-wrapper {
  padding: 2rem;
  background-color: #000638;
}
.navbar-nav .nav-link {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-nav .dropdown-menu {
  margin-right: 15px;
}



/*  */



.footer-section {
  background-color: #000638;; /* Warna latar belakang */
  padding: 0; /* Jarak atas dan bawah */
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  font-size: 14px;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-text {
  margin: 0;
}

.footer-version {
  margin-top: 5px;
  display: block;
}

.text-white {
  color: #fff;
}


/*bar chart*/


.chart-x-axis text,
.chart-y-axis text {
  font-size: 12px !important; /* Mengatur ukuran font pada axis */
}

.chart-label-list {
  font-size: 14px; /* Ukuran font pada label list di dalam chart */
}

.chart-bar {
  bar-size: 120px; /* Mengatur ukuran bar */
}

.tooltip-style {
  font-size: 10px;
  background-color: #fff;
  color: #444;
  border: none;
  border-radius: 5px;
  padding: 8px;
}


.chart-separator {
  border-bottom: 2px solid #e0e0e0; /* Warna dan ketebalan garis */
  margin: 20px 0; /* Jarak atas dan bawah */
}

.filter-chart {
  color: white;
}



.custom-col-1 {
  flex: 0 0 12.5%; /* 12.5% for 8 columns */
  max-width: 12.5%;
}



.chart-container {
  display: flex;
  flex-wrap: wrap;
  
  
}

.custom-col {
  flex: 0 0 16%; /* Lebar kolom 16% */
  max-width: 16%;
  border: 1px solid #ccc; /* Membuat kotak dengan garis border */
  padding: 10px; /* Ruang di dalam kotak */
  border-radius: 8px; /* Membuat sudut kotak agak melengkung */
  
  margin-bottom: 20px; /* Memberi jarak vertikal antar baris */
  margin-left: 10px;
  margin-top: 20px;
  background-color: rgba(114, 107, 107, 0.3);
}



.containers-grpo ,.containers-itrin, .containers-itrout, .containers-cashcarry, .containers-delivcust {
 
  border-radius: 5px;
  border: 1px solid #ccc;
  

}

.custom-modal .modal-body {
  font-size: 13px; /* Sesuaikan ukuran font di sini */
}


@media (max-width: 768px) {
  .custom-col {
    flex: 0 0 48%; /* Dua kolom per baris pada layar kecil */
    max-width: 48%;
  }

  .col-lg-4, .col-md-4, .col-lg-2, .col-md-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}




@media (max-width: 768px) {
  .custom-col {
      flex: 0 0 50%; /* 2 columns per row on smaller screens */
      max-width: 50%;
  }
}

@media (max-width: 576px) {
  .custom-col {
      flex: 0 0 100%; /* 1 column per row on extra small screens */
      max-width: 100%;
  }
}







/* Responsif untuk layar yang lebih kecil */
@media (max-width: 768px) {
  .footer-title {
      font-size: 16px;
  }

  .footer-version {
      font-size: 12px;
  }
}




@media (max-width: 576px) {
  .card-body {
      padding: 1rem;
  }
  .input-group-text {
      padding: 0.375rem 0.75rem;
  }
  button {
      font-size: 0.875rem;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column; /* Stacks the form fields vertically on small screens */
  }

  .form-group {
    min-width: 100%; /* Ensures each input takes full width on small screens */
  }
}









@media (max-width: 768px) {
  .tab-buttons {
      flex-direction: column;
  }

  .tab-button {
      text-align: left;
      padding-left: 20px;
  }
}




@media (max-width: 768px) {
    .sidebar {
        width: 240px; /* Lebar lebih kecil pada tablet */
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 180px; /* Lebar lebih kecil pada ponsel */
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100px; /* Lebar lebih kecil pada layar sangat kecil */
    }
}










@media (max-width: 768px) {
  .header {
      font-size: 1rem;
  }

  .chart-section {
      height: auto;
  }

  .no-data {
      padding: 2rem;
  }

  .square-icon {
      width: 15px;
      height: 15px;
  }
}


@media (max-width: 768px) {
  .col-md-6 {
      width: 100%;
      margin-bottom: 1rem;
  }
}


@media (max-width: 768px) {
  .card-header .row {
      flex-direction: column;
  }

  .col-md-6 {
      width: 100%;
      margin-bottom: 1rem;
  }

  .title-dash {
      text-align: center;
      margin-bottom: 1rem;
  }
}



@media (min-width: 1200px) {
  .chart-top-title {
      font-size: 1.5rem;
  }

  .alert {
      font-size: 2rem;
  }

  .card-dashboard {
      margin-bottom: 10px;
      margin-right: 10px;
  }
}



@media (max-width: 768px) {
  .col-md-6 {
      width: 100%;
  }

  .chart-top-title {
      font-size: 1.5rem;
  }

  .alert {
      font-size: 1rem;
  }

  .card-dashboard {
      margin-bottom: 15px;
  }
}






@media (min-width: 768px) and (max-width: 1024px)  {
  .title {
      font-size: 20px;
  }

  .custom-background {
      padding: 10px;
  }

  .datetime-container {
      flex-direction: column;
      align-items: right;
  }

  .time-container {
      flex-direction: column;
      align-items: right;
  }

  .current-time {
      margin-bottom: 5px;
  }
}

/* Styles for very large screens (like a 52-inch TV) */
@media (min-width: 1920px) {
  .title {
      font-size: 48px;
  }

  .current-time {
      font-size: 32px;
  }

  .container {
      padding: 50px;
  }

  .datetime-container {
      font-size: 32px;
  }

  .time-container {
      font-size: 32px;
  }

  .card-body {
      font-size: 24px;
  }

  .alert-primary {
      font-size: 24px;
  }
}







@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.list-group-item-light.list-group-item-action.active {
  color: #636464;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.overflow-hidden {
  overflow: hidden !important;
}

*[dir="rtl"] .mfs-3,
html:not([dir="rtl"]) .mfe-3 {
  margin-right: 0.5rem !important;
}

*[dir="rtl"] .mfe-3 {
  margin-left: 1rem !important;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/* Media query */

/* extralarge */

@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 85%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
}
/* mobile */
@media (max-width: 576px) {
  html {
    font-size: 75%;
    scroll-behavior: smooth;
  }

  .slide {
    margin-top: 45px;
  }

  .card-body img {
    max-width: 100%;
    height: auto;
  }
}

/* Responsive styles */

@media  (min-width: 320px) and (max-width: 767px) {
  .title {
      font-size: 18px;
  }

  .custom-background {
      padding: 10px;
  }

  .datetime-container {
      flex-direction: column;
      align-items: right;
  }

  .time-container {
      flex-direction: column;
      align-items: right;
  }

  .current-time {
      margin-bottom: 5px;
  }


  @media (max-width: 767px) {
    .card-home {
        padding: 10px;
    }

    .card-home h1 {
        font-size: 1.25rem;
    }

    .card-home .col-12.col-lg-6 {
        margin-bottom: 15px;
    }

    .card-home .bg-primary {
        width: 100px;
        padding: 20px;
    }

    .card-home .bg-primary .fa {
        font-size: 2.5rem;
    }

    .card-home .custom-storage-style {
        font-size: 0.75rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .card-home .bg-primary {
        width: 120px;
        padding: 25px;
    }

    .card-home .bg-primary .fa {
        font-size: 3.5rem;
    }

    .card-home .custom-storage-style {
        font-size: 0.8rem;
    }
}

@media (min-width: 992px) {
    .card-home .bg-primary {
        width: 130px;
        padding: 30px;
    }

    .card-home .bg-primary .fa {
        font-size: 4rem;
    }

    .card-home .custom-storage-style {
        font-size: 0.875rem;
    }
}


}
